<div class="container-fluid">
	<div class="row">
		<div class="col-sm-9">
			<h2>Great People Delivering Genuine Hospitality</h2>
<p>Founded by entrepreneur Cameron Mitchell in 1993, Cameron Mitchell Restaurants has built a diverse portfolio of varied concepts, ranging from multi-location upscale destinations to single neighborhood favorites.  Today, Cameron Mitchell Restaurants features 12 concepts with 25 restaurants, with many more future additions in the works.  The Rusty Bucket Restaurant &amp; Tavern, a sister company of CMR, currently operates 22 locations in Ohio, Michigan, Indiana, Florida and North Carolina. In addition, Cameron Mitchell Premier Events continues to thrive as the premier caterer in <i>Columbus, Ohio.</i></p>

<p>On our menus, you will find we offer the perfect mix of must-have familiar craveables to new and exciting dishes.   From seafood to steak, from Italian to Asian and more, we guarantee hand-selected quality and absolute freshness of every ingredient.  Whether you’re in the mood for the comfort of an upscale neighborhood diner or the elegance of fine dining, you’ll find something to suit every occasion.</p>

<p>You will experience an extraordinary level of service and attention to detail from our associates - - “great people delivering genuine hospitality.” The way we treat our associates is a secret ingredient in our recipe for success.</p>

<p>Welcome to Cameron Mitchell Restaurants where you’ll find we have a lot on our plate.  All of it is delicious.</p>
		</div>
		<div class="col-sm-3">
		{{manna-sidebar}}
		</div>
	</div>
</div>

{{yield}}