<!-- <div class="container">
	{{partial 'navbar'}}
	{{manna-jumbotron}}
	<div class="container-fluid">
	<h1>Welcome to Manna Restaurants</h1>
	</div>
	{{manna-content}}
</div>

 -->
 	
 		<div class="container-fluid">
			<h1>Welcome to Manna Restaurants</h1>
			{{manna-content}}
		</div>
